﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaginaInicial.aspx.cs" Inherits="CongressoNassau.Pags.PaginaInicial" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="height: 594px; text-align: center; background-color: #66CCFF">
            <h1>&nbsp;</h1>
            <h1>Bem vindo ao Congresso Nacional de TI!</h1>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <asp:Button ID="btnCad" runat="server" Text="Cadastrar" Height="41px" style="margin-top: 0px" OnClick="btnCad_Click" />
            &nbsp;&nbsp;&nbsp;
            <asp:Button ID="btnLogin" runat="server" Text="Login" Height="41px" OnClick="btnLogin_Click" Width="88px" />
        </div>
    </form>
</body>
</html>
