﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PainelParticipante.aspx.cs" Inherits="CongressoNassau.Pags.PainelParticipante" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body style="height: 802px; background-color: #99CCFF">
    <form id="form1" runat="server">
        <div>
            <h1 style="text-align: center">Painel do Participante</h1>
            <br />
            <br />
            <br />
            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Pags/EnviaArtigo.aspx">Enviar Arquivo do artigo..</asp:HyperLink>
            </div>
    </form>
</body>
</html>
