﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Geral.aspx.cs" Inherits="LoginCongresso.Geral" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Bem vindo na ...!</h1>

            <asp:Button ID="btnCad" runat="server" Text="Cadastrar" Height="41px" style="margin-top: 0px" />
            <asp:Button ID="btnLogin" runat="server" Text="Login" Height="41px" OnClick="btnLogin_Click" Width="93px" />
        </div>
    </form>
</body>
</html>
