﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PainelCandidato.aspx.cs" Inherits="LoginCongresso.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Enviar artigo aqui..</h1>
            <asp:FileUpload ID="FileUpload1" runat="server" />
        </div>
    </form>
</body>
</html>
