﻿body {    text-align: center;
}

fieldset{
    background-color: #6E6E6E;
}
col-2 {
    background-color:#D8D8D8;
    border-bottom-color:black;
}
col-10 {
    background-color: #D8D8D8;
    border-bottom-color: black;
}
