﻿@{
    ViewBag.Title = "Pagina inicial";
}

<div class="jumbotron">
    <h1>Congresso de Inovação da Tecnologia</h1>
    <p class="lead">Faça a sua inscrição, construa o seu artigo cientifico e nos envie.</p>
    <!-- <p><a href="http://localhost:49484/Home/Quest" class="btn btn-primary btn-lg">Inscrição  &raquo;</a></p>-->
    <p><a href="http://localhost:49484/PagCad.aspx" class="btn btn-primary btn-lg">Inscrição  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tecnologia</h2>
        <p>


            Exemplos de tecnologias:

            Tecnologia pré-histórica (técnica Levallois para lascar pedra).
            Tecnologia espacial (satélite para astronomia de raios-X).
            Tecnologia (do grego τεχνη — "técnica, arte, ofício" e λογια — "estudo") 
            é um termo que envolve o conhecimento técnico e científico e a aplicação deste conhecimento 
            através de sua transformação no uso de ferramentas, processos e materiais criados e
            utilizados a partir de tal conhecimento.
        </p>
        <p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Tecnologia">Ler mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>O Congresso</h2>
        <p>A inovação tecnológica como ferramenta para refletir as transformações do processo de ensino-aprendizagem 
        em um modelo escolar humanizado é um dos principais assuntos debatidos pelo XVI Congresso Internacional de Tecnologia
        na Educação (CITE), que terá como tema “Educação e Tecnologia para a Humanização da Escola” e ocorrerá de 19 a 21 de setembro
        no Centro de Convenções de Pernambuco em Olinda..</p>
        <p><a class="btn btn-default" href="https://www.sescpe.org.br/2018/06/22/abertas-inscricoes-a-congresso-internacional-de-tecnologia-na-educacao/">Ler mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inovação</h2>
        <p>
            Transformação digital aumenta oportunidades para as empresas
            Levantamento da DocuSign indica que 83% dos executivos priorizam fechar negócios com companhias aptas a fazer transações por meio eletrônico.
        </p>
        <p><a class="btn btn-default" href="https://exame.abril.com.br/tecnologia/transformacao-digital-aumenta-oportunidades-para-as-empresas/">Ler mais &raquo;</a></p>
    </div>
</div>