﻿@model IEnumerable<Cadastro_congresso.Classes.Conecta>
@{
    ViewBag.Title = "MostraDados";
}

<h2>MostraDados</h2>

<div>
    <h1>Conformação de inscrição</h1>

    <p><a href="http://localhost:49484/PagCad.aspx" class="btn btn-primary btn-lg">Inscrição  &raquo;</a></p>


</div>

