﻿
@{
    ViewBag.Title = "Quest";
}

<h2>Preencha os campos do Formulario</h2>

<form action="/Home/Quest" method="post">

    <div class="jumbotron">
        Nome:<br>
        <input type="text" name="Nome" /><br>
        Endereço:<br>
        <input type="text" name="Endereco" /><br>
        Telefone:<br>
        <input type="text" name="Telefone" /><br>
        Local de Trabalho:<br>
        <input type="text" name="Local_trabalho" /><br>
        Numero do card:<br>
        <input type="text" name="Num_card" /><br>
        Data de vencimento:<br>
        <input type="date" name="Data_vencimento" /><br>
        Bandeira:<br />
        <input type="text" name="Bandeira" /><br>
    </div>
    <br><input type="submit" value="Enviar" /><br>
    <asp:Button ID="btnCadastrar" runat="server" Text="Cadastrar" OnClick="btnCadastrar_Click" />
</form>
