﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PainelParticipante.aspx.cs" Inherits="Congresso.PagsASPX.PainelParticipante" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h3>Enviará o arquivo aqui...</h3>
            <br />
            <br />
            <br />
            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/PagsASPX/EnviaArtigo.aspx">Enviar Arquivo do artigo</asp:HyperLink>
        </div>
    </form>
</body>
</html>
